section {
  width: 100%;
  margin-top: 54px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.background {
  width: 100%;
  height: 320px;
  background: url("../images/welcome.png") top center / cover no-repeat;
}
.search {
  width: 1200px;
  margin: 100px auto;
  color: white;
  padding: 0px 15px;
}
.search__input {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.search__input input,
.search__input--btn {
  height: 46px;
  border: none;
}
.search__input input{
  width: 400px;
  font-weight: 500;
  color: var(--grey50-color);
  border-radius: 5px 0px 0px 5px;
}
.search__input--btn {
  width: 60px;
  background-color: var(--cyan70-color);
  border-radius: 0px 5px 5px 0px;
}
.search__input--btn:hover {
  background-color: var(--darkcyan-color);
  cursor: pointer; 
}
.search__input--btn img{
  margin: 6px auto;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list {
  width: 1200px;
  height: 50x;
  display: flex;
  margin: 40px;
  padding: 0px 15px;
  position: relative;
}
.list__btn--left,
.list__btn--right {
  width: 32px;
  height: 32px;
  border: none;
  padding: 0;
  cursor: pointer; 
  z-index: 1;
}
.list__btn--left {
  background: url("../images/States=Default_left.png")
}
.list__btn--left:hover {
  background: url("../images/States=Hovered_left.png")
}
.list__btn--right {
  background: url("../images/States=Default_right.png")
}
.list__btn--right:hover {
  background: url("../images/States=Hovered_right.png")
}
.list__container {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  overflow: hidden;
  margin: 0 10px;
  position: relative;
  z-index: 0;
}
.list__container--station {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  color: var(--grey70-color);
  padding: 5px 13px;
}
.list__container--station:hover {
  color:black;
  cursor: pointer; 
}
.attractions {
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px 15px;
}
.attractions__card {
  width: calc((100% - 30px * 3) / 4);
  max-width: 330px;
  height: 242px;
  border: 1px solid var(--grey20-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
}
.attractions__card:hover {
  filter: brightness(85%);
  cursor: pointer; 
}
.attractions__card--overlay {
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  color: white;
  padding: 10px;
  margin-bottom: -155px;
  margin-top: auto;
}
.attractions__card--info {
  background-color: white;
  display: flex;
  color: var(--grey50-color);
  padding: 10px;
  width: 100%;
  margin-top: auto;
}
.attractions__card--info--mrt,
.attractions__card--info--category {
  flex: 1;
  font-size: 16px;
  font-weight: 400;
}
.attractions__card--info--category {
  text-align: right;
}

@media (max-width: 1200px),(max-width: 850px){
  .search {
    width: 90vw;
  } 
  .list {
    width: 90vw;
  }
  .attractions {
    max-width: 90vw;
  }
}
@media (max-width: 1200px) {
  .attractions__card {
    width: calc((100% - 30px * 2) / 3);
  }
}
@media (max-width: 850px) {
  .attractions__card {
    width: calc((100% - 30px * 1) / 2);
  }
}
@media (max-width: 650px),(max-width: 200px){
  .search__input input{
    min-width: 200px;
  }
  .list {
    min-width: 90vw;
  }
  .attractions {
    max-width: 100vw;
  }
  .attractions__card {
    width: 330px;
    height: 280px;
    margin: 0px auto;
  }
  .attractions__card--overlay {
    margin-bottom: -192px;
  }


  a {
    font-size: 1rem;
  }
  h2 {
    font-size: clamp(1.3rem, 1.7rem, 30px);
  }
  
}