{% extends "index.html" %}

{% block title %}
  景點頁面
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='./style/core.css') }}"/>  
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='./style/user.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='./style/attraction.css') }}"/>
{% endblock %}

{% block script %}
<script defer src="{{ url_for('static', path='./script/user.js') }}"></script>
<script defer src="{{ url_for('static', path='./script/attraction.js') }}"></script>
{% endblock %}

{% block section %}
<div class="attraction">
  <div class="picture">
    <div class="picture__dot"></div>
    <button class="picture__btn--left" id="leftArrow"></button>
    <div class="picture__slideshow"></div>
    <button class="picture__btn--right" id="rightArrow"></button>
  </div>
  <div class="profile">
    <div class="profile__info">
      <h3 class="title"></h3>
      <span class="category"></span>
    </div>
    <div class="profile__booking">
      <p>訂購導覽行程</p>
      <span>以此景點為中心的一日行程，帶您探索城市角落故事</span>
      <form id="profile__booking--form" onsubmit="formBooking(event)">
        <div class="profile__booking--form--date">
          <p class="date-row">選擇日期：
            <input type="date" name="date" id="date" value="" min="">
            <label for="date"></label>
          </p>
        </div>
        <div class="profile__booking--form--time">
          <p>選擇時間：
            <input type="radio" name="time" class="time" value="morning" checked/>
            <label for="morning">上半天</label>
            <input type="radio" name="time" class="time" value="afternoon">
            <label for="afternoon">下半天</label><br>
            <input type="hidden" name="price" id="price" value="">
          </p>
        </div>
        <p>導覽費用：<span id="money"></span></p>
        <button type="submit" form="profile__booking--form" class="profile__booking--form--btn">開始預約行程</button>
      </form>
    </div>
  </div>
<div>
{% endblock %}

{% block main %}
<div class="infors"></div>
{% endblock %}