{% extends "attraction.html" %}

  {% block title %}
    預訂行程頁面
  {% endblock %}
  
  {% block link %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='./style/core.css') }}"/>  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='./style/user.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='./style/booking.css') }}"/>
  {% endblock %}
  
  {% block script %}
  <script defer src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
  <script defer src="{{ url_for('static', path='./script/user.js') }}"></script>
  <script defer src="{{ url_for('static', path='./script/booking.js') }}"></script>
  <script defer src="{{ url_for('static', path='./script/order.js') }}"></script>
  {% endblock %}
  
  {% block section %}
  <section class="booking--section">
    <div class="booking--wrapper">
      <h3 class="booking--greeting">您好，<span id="booking--username"></span>，待預訂的行程如下：</h3>
      <div class="booking--container">
        <div class="booking--image" id="booking--image"></div>
        <div class="booking--info">
          <div class="booking--info--data">
            <p class="booking--title">台北一日遊：<span id="booking--name"></span></p>
            <p>日期：<span id="booking--date"></span></p>
            <p>時間：<span id="booking--time"></span></p>
            <p>費用：<span>新台幣 <span id="booking--price"></span> 元</span></p>
            <p>地點：<span id="booking--address"></span></p>
          </div>
          <button class="booking--info--delete" id="deleteButton"></button>
        </div>
      </div>
    </div>
    <div class="booking--divider"></div>

    <div class="booking--wrapper">
      <form class="booking--form" id="booking--form--contact">
        <h3>您的聯絡資訊</h3>
        <div class="booking--form--container">
          <label for="booking--input--username">聯絡姓名：</label>
          <input type="text" id="booking--input--username" name="booking--input--username">
        </div>
        <div class="booking--form--container">
          <label for="booking--input--email">聯絡信箱：</label>
          <input type="text" id="booking--input--email" name="booking--input--email">
        </div>
        <div class="booking--form--container">
          <label for="booking--input--mobile">手機號碼：</label>
          <input type="text" pattern="[0-9]{10}" id="booking--input--mobile" name="booking--input--mobile" autocomplete="on" required>
        </div>
        <div class="booking--form--container">
          <p>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
        </div>
      </form>
    </div>
    <div class="booking--divider"></div>

    <div class="booking--wrapper">
      <form class="booking--form" id="booking--form--card">
        <h3>信用卡付款資訊</h3>
        <div class="booking--form--container">
          <label for="booking--ccnumber">卡片號碼：</label>
          <div class="tpfield" id="booking--ccnumber"></div>
        </div>
        <div class="booking--form--container">
          <label for="booking--ccexp">過期時間：</label>
          <div class="tpfield" id="booking--ccexp"></div>
        </div>
        <div class="booking--form--container">
          <label for="booking--cccvv">驗證密碼：</label>
          <div class="tpfield" id="booking--cccvv"></div>
        </div>
      </form>
    </div>
    <div class="booking--divider"></div>
    <div class="booking--wrapper">
      <div class="booking--total">
        <p>總價：新台幣 <span id="booking--sum"></span> 元</p>
        <button id="submit-button">確認訂購並付款</button>
      </div>
    </div>
  </section>
  {% endblock %}
  
  {% block main %}
  {% endblock %}