<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    台北一日遊
    {% endblock %}
  </title>
  <link rel="icon" href="./static/images/favicon.png" type="image/png">
  {% block link %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='./style/core.css') }}"/>  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='./style/user.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='./style/index.css') }}"/>
  {% endblock %}

  {% block script %}
  <script defer src="{{ url_for('static', path='./script/index.js') }}"></script>
  <script defer src="{{ url_for('static', path='./script/user.js') }}"></script>
  {% endblock %}
</head>
<body>
  <nav class="menu">
    <nav class="menu__item">
      <div><a class="menu__item--logo" href="/">台北一日遊</a></div>
      <div class="menu__item--container">
        <a class="menu__item--container--booking" id="signLink">預定行程</a>
        <a class="menu__item--container--member" id="signLink">會員中心</a>
        <a class="menu__item--container--user" id="signLink">登入/註冊</a>
      </div>
    </nav>
  </nav>
  <section>
    {% block section %}
    <div class="background">
      <div class="search">
        <h1>輕鬆享受台北一日悠閒</h1>
        <p>探索每個角落，體驗城市的深度旅遊行程</p>
        <div class="search__input">
          <input type="text" name="keyword" id="searchBox" placeholder="輸入景點名稱查詢">
          <button class="search__input--btn" aria-label="搜尋" id="searchIcon">
            <img src="static/images/search.png">
          </button>
        </div>
      </div>
    </div>
    {% endblock %}
  </section>

  <dialog id="signUpDialog">
    <form id="signUp" onsubmit="signUp(event);">
      <div id="userDialog__form--decorator"></div>
      <div class="close"></div>
      <h3>註冊會員帳號</h3>
      <input type="text" id="signUp_name" placeholder="輸入姓名" required>
      <input type="email" id="signUp_email" placeholder="輸入電子郵件" required>
      <input type="password" id="signUp_password" placeholder="輸入密碼" autocomplete="off" required>
      <button type="submit">註冊新帳戶</button>
      <div id="signUp_message"></div>
      <div id="signUp_sign">已經有帳戶了？<div id="signLink" onclick="switchToSignIn()">點此登入</div></div>
    </form>
  </dialog>  
  <dialog id="signInDialog">
    <form id="singIn" onsubmit="login(event);">
      <div id="userDialog__form--decorator"></div>
      <div class="close"></div>
      <h3>登入會員帳號</h3>
      <input type="email" id="email" placeholder="測試電子郵件: test@test" required>
      <input type="password" id="password" placeholder="測試密碼: test" autocomplete="off" required>
      <button type="submit">登入帳戶</button>

      <div id="message"></div>
      <div id="sign">還沒有帳戶？<div id="signLink" onclick="switchToSignUp()">點此註冊</div></div>
    </form>
  </dialog>

  <main>
    {% block main %}
    <div class="list">
      <button class="list__btn--left" id="leftScroll"></button>
      <div class="list__container"></div>
      <button class="list__btn--right" id="rightScroll"></button>
      </div>
    </div>
    <div class="attractions"></div>
    {% endblock %}
  </main>
  <footer>
    <div class="footer__container">COPYRIGHT © 2021 台北一日遊</div>
  </footer>
</body>
</html>